.student-page .header {
    background-color: var(--background-default);
}

.student-page .btn-add-student {
    position: absolute;
    left: 400px;
    top: 39px;
    z-index: 1000;
}

.student-page .export-csv {
    color: var(--color-text-tertiary);
    font-size: var(--font-size-text-base);
    font-weight: var(--font-weight-semibold);
    position: absolute;
    top: 50px;
    left: 300px;
    z-index: 1000;
}

.student-page .search-box {
    margin-top: 23px;
    display: flex;
    align-items: center;
}

.student-page .icon-search {
    display: block;
    background-color: var(--background-secondary);
    padding: 12.5px 9px;
    padding-right: 0;
}

.student-page .filter {
    margin-left: 279px;
    width: 120px;
    align-items: center;
    color: var(--color-text-septenary);
    border: none;
}

.student-page .overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1500;
    background-color: rgba(61, 61, 61, 0.19);
}

.no-student {
    position: fixed;
    top: 225px;
    left: 367px;
    width: 952px;
    height: 419px;
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-message {
    color: var(--color-text-quaternary);
    font-size: var(--font-size-text-2xl);
    font-weight: var(--font-weight-semibold);
    margin-top: 31px;
}

.enrollment-message {
    color: var(--color-text-quaternary);
    font-size: var(--font-size-text-md);
    font-weight: var(--font-weight-light);
    margin-top: 10px;
}

.student-page .btn-secondary {
    position: absolute;
    bottom: 19px;
    right: 0;
}
