.sidebar {
    height: 100vh;
    width: 241px;
    background-color: var(--background-tertiary);
    font-family: var(--font-primary);
    position: relative;
}

.sidebar .sidebar-header {
    height: 170px;
    border-bottom: 1px solid var(--background-secondary);
}

.logo {
    width: 65px;
    height: 65px;
    position: absolute;
    top: 26px;
    left: 88px;
}

.sidebar-heading {
    color: var(--color-text-default);
    font-size: var(--font-size-text-base);
    font-weight: var(--font-weight-semibold);
    position: absolute;
    top: 113px;
    left: 54px;
}

.sidebar-menu {
    width: 192px;
    margin: 16px 28px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-item {
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 40px;
    gap: 15px;
    width: 192px;
}

.sidebar .icon {
    margin-left: 10px;
}

.sidebar-menu .actives {
    border: var(--background-primary);
    background-color: var(--background-primary);
    border-radius: 4px;
}

.sidebar-item-content {
    color: var(--color-text-default);
    font-size: var(--font-size-text-base);
    font-weight: var(--font-weight-semibold);
}

.sidebar-feature {
    margin-top: 114px;
    margin-left: 38px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.new-item {
    border: none;
    padding: 1px 8px;
    border-radius: 8px;
    background: #b9d7f1;
    color: var(--color-text-senary);
    font-size: var(--font-size-text-sm);
    font-weight: var(--font-weight-semibold);
    margin-left: 10px;
}
